{% load static %}
<a href="/dashboard/counsellor/" class="flex items-center block px-4 py-2 rounded-lg hover:bg-teal-50">
    <i class="fa-solid fa-house-user w-5 mr-3 text-teal-600"></i> Dashboard
</a>

<a href="/appointments/" class="flex items-center block px-4 py-2 rounded-lg hover:bg-teal-50">
    <i class="fa-solid fa-calendar-check w-5 mr-3 text-teal-600"></i> Appointments
</a>

<a href="/dashboard/counsellor/assessments/" class="flex items-center block px-4 py-2 rounded-lg hover:bg-teal-50">
    <i class="fa-solid fa-clipboard-list w-5 mr-3 text-teal-600"></i> Student Assessments
</a>

<a href="/dashboard/counsellor/resources/" class="flex items-center block px-4 py-2 rounded-lg hover:bg-teal-50">
    <i class="fa-solid fa-hand-holding-heart w-5 mr-3 text-teal-600"></i> Recommend Resources
</a>

<a href="/dashboard/counsellor/ethics/" class="flex items-center block px-4 py-2 rounded-lg hover:bg-teal-50">
    <i class="fa-solid fa-scale-balanced w-5 mr-3 text-teal-600"></i> Ethics & Escalation
</a>